* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
}



p {
	text-align: justify;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: lighter;
	line-height: 1.6;
	padding: 0 18px;
	text-indent: 24px;
}

.sidebar_item a {
	text-decoration: none;
	color: grey;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: lighter;
	margin-left: 10px;
}

.sidebar_item_1 a {
	text-decoration: none;
	color: grey;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: lighter;
	margin-left: 10px;
}



.indIcon p {

}


.locale {
	border: 2px solid grey;
	height: 250px;
	width: 83%;
	border-radius: 50px;
	overflow: hidden;
}
.locale:hover {
	border: 6px solid grey;
}

.locale img {
		height: 900px;
		width: 900px;
		-webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all .5s ease;
	      -ms-transition: all 1s ease;
	          transition: all .5s ease;
}

.locale img:hover{
	height: 900px;
	width: 900px;
	/*margin-top: -155px;
	margin-left: -250px;*/

}
