* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/*padding: 0 7.5%;*/
	border: 24px solid lightgray;
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
	font-family: sans-serif;
	font-family: 'Raleway', sans-serif;
	margin: 0 0 8px 0;
}

#banner h1 {
	text-align: center;
	/*text-decoration: underline;*/
	font-size: 24px;
	font-family: sans-serif;
	font-family: 'Raleway', sans-serif;
	margin: 8px 0 0 0;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

/*.whiteCap {
	text-align: center;
	font-size: 24px;
	font-family: sans-serif;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}*/

p {
	text-align: center;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: lighter;
	line-height: 20px;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	letter-spacing: .1em;
}

.sidebar_item_0 a {
	text-decoration: none;
	text-transform: uppercase;
	/*color: grey;*/
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	letter-spacing: .1em;
}

.sidebar_item a {
	text-decoration: none;
	/*text-transform: uppercase;*/
	/*color: grey;*/
	font-size: 14px;
	font-family: sans-serif;
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: .25em;
}

.sidebar_item_1 a {
	text-decoration: none;
	/*text-transform: uppercase;*/
	/*color: grey;*/
	font-size: 14px;
	font-family: sans-serif;
	margin-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: .25em;
}

map {
	padding: 16px;
	border: 1px solid lightgrey;
	margin: 50px 0;
}



/*#gmap_canvas {
	padding: 16px;
	border: 1px solid black;
}*/

/*@media only screen and (min-width: 1775px) {
    .boxImage {
        width: 0%:
    }
}*/
