.body {
	display: flex;
	flex-flow: wrap;
}


.sidebar {
    display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 24px;
		flex-grow: 1;
		position: static;
}

.sidebar_section_1 {
	align-self: center;
	border-bottom: 1px solid black;
	margin-top: 24px;
	padding-bottom: 40px;
}

.sidebar_item {
	padding: 12px 10px;
	list-style: none;
}

.sidebar_item:hover {
	background-color: lightgrey;
	border-radius: 5px;
}

.sidebar_item:active {
	background-color: lightgrey;
	border-radius: 5px;
}

/*.sidebar_item.is-side-bar-item-selected {
	background-color: lightgrey;
	border-radius: 5px;
}*/





.main {
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 768px;
	min-width: 1000px;
	flex-grow: 4;
}

.centeredPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 220px;
	padding-top: 24px;
	margin: 0 24px;
	border-bottom: 4px solid black;
}

.centeredPrompt__item + .centeredPrompt__item {
	margin-top: 5px;
}

.centeredPromptLabel {
		color: #86969C;
		font-size: 30px;
		font-weight: 700;
		font-family: sans-serif;
		text-align: center;
	}

.centeredPromptDetails {
		color: #86969C;
		font-size: 16px;
		margin-bottom: 10px;
		text-align: center;
	}


.circles {
	display: flex;
	align-content: space-between;
	justify-content: space-around;
	margin: 24px;
	max-width: 750px;
}

.indIcon {

}


.map {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fBar {
	flex-grow: 4;
	height: 50px;
	align-content: flex-end;
}

.footItems {
	align-items: center;
	height: 25px;
  display: flex;
	justify-content: space-around;
	background-color: lightgrey;
}

.bItem {
	color: #fff;
	padding: 15px;
	margin: 5px;
	background: #3db5da;
	border-radius: 3px;
}
