.body {
	display: flex;
	flex-flow: nowrap;
	align-content: stretch;
}




.sidebar {
	border-right: 1px solid black;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*flex-grow: .5;*/
	min-width: 240px;
}

.sidebar_image img {
	width: 225px;
	height: 125px;
	margin: 24px 0 72px 8px;
}

.sidebar_item {
	border-top: 1px solid black;
	padding: 16px 10px;
	list-style: none;
}

.sidebar_item_1 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 16px 10px;
	list-style: none;
}

.sidebar_item:hover {
	background-color: #ccffff;
}

.sidebar_item_1:hover {
	background-color: #ccffff;
}

.sidebar_item:active {
	background-color: #00e6e6;
}





.main {
	/*flex-grow: 4;*/
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.centeredPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 226.667px;
	border-bottom: 1px solid black;
}

/*.centeredPrompt__item + .centeredPrompt__item {
	margin-top: 5px;
}*/

.centeredPromptLabel {
		color: gray;
		font-size: 96px;
		font-weight: bold;;
		font-family: sans-serif;
		text-align: center;
	}

/*.centeredPromptDetails {
		color: #86969C;
		font-size: 16px;
		margin-bottom: 10px;
		text-align: center;
	}*/


.circles {
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.indIcon {
	height: 200px;
	width: 25%;
	border: 1px solid grey;
	border-radius: 25px;
	margin: 36px;
	padding: 8px;
	flex-grow: 1;
}

.indIcon_2 {
	height: 200px;
	width: 25%;
	border: 1px solid grey;
	border-radius: 25px;
	padding: 8px;
	margin: 0px 36px;
	flex-grow: 3;
}

.map {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fBar {
	/*border-top: 1px solid black;*/
	/*padding: 16px 0;*/
	display: flex;
	/*align-items: center;*/
	justify-content: space-around;
	margin-top: 72px;
}

.footItems {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

/*.bItem {
	background: #ccffff;
}*/

.bItem {
	list-style: none;
	text-transform: uppercase;
	color: grey;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: lighter;
}
