.body {
	display: flex;
	flex-flow: nowrap;
	/*align-content: stretch;*/
	justify-content: center;
}


.sidebar {
	/*border-right: 1px solid black;*/
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 240px;
}

.sidebar_image {
	width: 225px;
	height: 125px;
	margin: 24px 0 72px 8px;
	padding-top: 48px;
}

.sidebar_image img  {
	width: 225px;
	height: 125px;
	/*margin-top: 48px*/
}

.sidebar_item_0 {
	border-top: 1px solid black;
	padding: 16px 10px;
	list-style: none;
	/*text-align: right;*/
	/*background-color: #ccffff;*/
}

.sidebar_item {
	border-top: 1px solid black;
	padding: 16px 10px;
	list-style: none;
	/*background-color: #ccffff;*/
}

.sidebar_item_1 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 16px 10px;
	list-style: none;
	/*background-color: #ccffff;*/
}

.sidebar_item:hover {
	background-color:  #f2f2f2;
}

.sidebar_item_1:hover {
	background-color:  #f2f2f2;
}

.sidebar_item:active {
	background-color: white;
}

.sidebar_item_1:active {
	background-color: white;
}



.main {
	display: flex;
	flex-direction: column;
	width: 100%;
}


.titleBar {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 221.667px;
	max-height: 221.667px;
	border-bottom: 1px solid black;
	padding: 0 0 6px 0;
}

.titleLabel {
		/*color: gray;*/
		flex-wrap: nowrap;
		font-size: 48px;
		font-weight: lighter;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		margin-bottom: 36px;
	}

	/*.tBar {
		display: flex;
	}*/

	.topItems {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 0 0 0 50px;
		padding: 0 50px 0 0;
		/*background-color: #e6ffff;*/
	}

.tItem {
	list-style: none;
	text-align: left;
	/*color: grey;*/
	font-size: 14px;
	font-weight: lighter;
	font-family: sans-serif;
	font-kerning: 1em;
}

.boxesLayout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 0 50px;
}

.boxContent {
	height: 255px;
	width: 255px;
	border: 1px solid lightgrey;
	margin: 50px 0 0 0;
	padding: 16px;
	/*border-bottom: 1px solid lightgrey;*/
	/*border-top: 1px solid lightgrey;*/
}

.boxContent:hover {
	height: 255px;
	width: 255px;
	border: 1px solid black;
	margin: 50px 0 0 0;
	background-color:  #f2f2f2;
}

.boxImage img {
	padding: 12px;
	height: 255px;
	width: 198px;
	margin: 50px 0 0 0;
	overflow: hidden;
	/*border-radius: 10px;*/
	-webkit-filter: blur(1px);
	filter: blur(1px);
	border: 1px solid lightgrey;
}

.boxLong {
	height: 105px;
  width: 100%;
	margin: 52.5px 0 50px 0;
	padding: 8px;
	border: 1px solid lightgrey;
}

.boxLong:hover {
	height: 105px;
  width: 100%;
	margin: 52.5px 0 50px 0;
	padding: 8px;
	background-color: #f2f2f2;
	border: 1px solid black;
}

.vOpps {
	/*margin-top: 24px;*/
	width: 100%;
}

.vOppItem {
	font-size: 14px;
	font-weight: lighter;
	line-height: 1;
	width: 25%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

/*.map {
	width: 100%;
}*/

.container {
	display: flex;
	flex-wrap: wrap;
	height: 240px;
	justify-content: space-around;
	border: 1px solid grey;
	margin: 0 0 64px 0;
	width: 100%;
}

.item {
	display: flex;
	border: 1px solid lightgrey;
	width: 200px;
	height: 200px;
	margin: 25px auto;
}

/*img {
	margin: auto;
	border: 1px solid black;
	width: 300px;
	height: 225px;
}*/

div img {
	height: 75px;
	width: 75px;
	margin: 5%;
}



.fBar {
	border-top: 1px solid black;
	/*padding: 16px 0;*/
	display: flex;
	/*align-items: left;
	margin-top: 72px;*/
	/*background-color: #e6ffff;*/
}

.footItems {
	display: flex;
	width: 100%;
	justify-content: space-around;
	/*background-color: #e6ffff;*/
}

.bItem {
	list-style: none;
	text-align: left;
	/*color: grey;*/
	font-size: 14px;
	font-weight: lighter;
	font-family: sans-serif;
}

a:link {
    color: black;
}

a:visited {
	color: black;
}
