*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.bar {
  display: flex;
  align-items: center;
  width: 50%;
  background: #eee;
  padding: 20px;
}

img {
  display: flex;
  align-items: center;
}
